<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Spiderman{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'Dc/css/bootstrap.min.css' %}">
</head>
<body>
    {{s}}
    
    {% for i in numbers %} 
    <li>{{i}}</li   >
    {% endfor %}
    <h1>Batman  </h1>
    <h2> Dc heros {{hero}} </h2>
    <table border=2px>
        <tr>
            <th>Name</th>
            <th>Heroic_name</th>
            <th>city</th>
        </tr>
        {% for h in hero  %}
        <tr>
            <td>{{h.name}}</td>
            <td>{{h.heroic_name}}</td>
            <td>{{h.city}}</td>
        </tr>
        {% endfor %}
    </table>
    {% comment %} {%  include "Marvel/spiderman.html" %} {% endcomment %}
    
    <script src="{% static 'Dc/js/bootstrap.min.js' %}"></script> 
</body>
</html>