<!DOCTYPE html>
{% load static %}
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    <link rel="stylesheet" href="{% static 'crud/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'crud/css/styles.css' %}">
<body>
    <h1>Marvel Studio Charaters</h1>
    <div class="info" >
    <div class="form">
    <form action="" method="POST">
        {%csrf_token %}
    {{form}}
    <input type="submit">
    </form>
    </div>

    <div>
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Heroic Name</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                {% for m in mm %}
              <tr>
                <th scope="row">{{m.id}}</th>
                <td>{{m.name}}</td>
                <td>{{m.heroic_name}}</td>
                <td><form action="" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="delete">
                </form></td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
    </div>
</div>
    <script src="{% static 'crud/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'crud/js/jquery.js' %}"></script>
    <script src="{% static 'crud/js/popper.js' %}"></script>
</form>
</body>
</html>